AZ_MEDIA_SERVICES_ACCOUNT_NAME=myazuremediaservicesaccountname
AZ_MEDIA_SERVICES_RESOURCE_GROUP=myazuremediaservicesresourcegroup
AZ_MEDIA_SERVICES_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000

AZ_STORAGE_ACCOUNT_NAME=myazurestorageaccountname
AZ_STORAGE_CONTAINER_NAME=my-storage-container-name

IMAGE_CDN_BASE_URL=https://mycdnname.imgix.net
MANAGE_PASSWORD=Bbdd4%dn7g47qI^M