header {
    text-align: center;
}

h1 { 
    margin-bottom: 0.4em;
}

nav ul li {
    list-style: none;
    margin-bottom: 0.7em;
    font-size: 1.4em;
}

input {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 300px;
}

input[name=username] {
    display: none;
}

.managePassword { 
    margin: 0.7em auto;
    padding: 0.5em 0.3em;
    font-size: 1.4em;
}

.manageButton {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 0.6em auto 1.8em;
    border: 2px solid #b28b0d;
    border-radius: 0.3em;
    font-size: 1em;
}

#manageDeleteButton {
    border-color: #ffb4b4;
    background-color: #be1717;
    color: #ebebeb;
}

#manageDeleteButton:disabled {
    border: 2px solid #ddb7b7;
    background-color: #daabab;
    color: #909090;
}

#manageDeleteButton:active {
    background-color: #cf4343;
}

#gallery.manageGallery { 
    gap: 0;
}

#gallery.manageGallery > li {
    height: 45vw;
    width: 44%;
    overflow: scroll;
    padding: 2%;
    margin: 1%;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#gallery.manageGallery.tagGallery > li {
    height: 75vw;
}

#gallery.manageGallery > li img {
    height: 66%;
    max-height: 66%;
    max-width: 100%;
}

#gallery.manageGallery > li .bucketPath {
    max-height: 29%;
    padding: 0 0.3em;
    font-size: 0.6em;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    margin: 5% 0;
}

#gallery.manageGallery > li.selected {
    background-color: #eb1d1d;
    color: #ffdbdb;
}

#gallery.manageGallery > li.selected img {
    filter: grayscale(80%) opacity(50%);
}

.tagGroup {
    text-align: left;
    font-size: 0.7em;
}

.tagGroup ul {
    display: inline;
}

.tagGroup li {
    display: inline-block;
    padding: 0.3em 0 0.3em 0.5em;
    margin: 0 0.4em 0.4em 0;
    list-style: none;
    font-size: 0.9em;
    border: 1px solid #e4afef;
    background-color: #983a89;
    color: #fff;
    cursor: default;
}

.tagGroup.metaTagGroup li {
    border-color: #5f9bcf;
    background-color: #0d5eb2;
}

.deleteTag {
    color: #fff;
    cursor: pointer;
}

.deleteTag::after {
    content: "×";
    padding: 0.3em 0.5em;
}

.deleteTag:hover {
    color: #eb1d1d;
}

@media screen and (min-width: 550px) {
    #gallery.manageGallery > li {
        height: 36vw;
        width: 27%;
        padding: 2%;
        margin: 1%;
    }

    #gallery.manageGallery.tagGallery > li {
        height: 58vw;
    }

    #gallery.manageGallery > li .bucketPath {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 900px) {
    #gallery.manageGallery > li {
        height: 300px;
    }

    #gallery.manageGallery.tagGallery > li {
        height: 430px;
    }
}