* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fef7f3;
    font-family: Mulish, Helvetica, Arial, sans-serif;
    color: #111;
    min-height: 120%;
}

body.locked {   
    overflow: hidden;
}

a {
    color: #0071db;
}

header {
    margin: 2em;
}

header img {
    display: block; 
    margin: auto;
    width: 100%;
    max-width: 600px;
}

header h1 img {
    width: 90%;
}

.date {
    font-size: 0.8em;
    color: #888;
    display: block;
    text-align: center;
}

body > section {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 900px;
    text-align: center;
}

p {
    margin-bottom: 1em;
}

h3 {
    margin: 2em 0 1em;
    font-size: 1.6em;
    font-weight: 600;
}

button, 
input[type=button] { 
    margin-top: 1.3em;
    font-family: Mulish, Helvetica, Arial, sans-serif;
    border: 2px solid #b28b0d;
    border-radius: 0.5em;
    background-color: transparent;
    padding: 0.8em 2em;
    font-size: 1.4em;
    color: #493300;
}

input[type=button]:active {
    background-color: #fff3da;
}

input[type=file] {
    display: none;
}

.hidden {
    display: none!important;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    margin-bottom: 0.8em;
}

#gallery li {
    height: 30vw;
    flex-grow: 1;
}

#gallery li:last-child {
    max-width: 58%;
}

#gallery img {
    width: auto;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

#spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

#spinner div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #ffe4d4;
    animation: heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

#spinner div:after,
#spinner div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #ffe4d4;
}

#spinner div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

#spinner div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes heart {
    0% { transform: scale(0.95); }
    5% { transform: scale(1.1); }
    39% { transform: scale(0.85); }
    45% { transform: scale(1); }
    60% { transform: scale(0.95); }
    100% { transform: scale(0.9); }
}

#refreshLink {
    margin: 1.6em 0;
    font-size: 0.9em;
    line-height: 167%;
}

#refreshLink .action {
    padding: 20px;
}

#uploadFeedback {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.86);
    color: #fff;
}

#uploadFeedback h4 {
    font-size: 1.8em;
    margin: 34vh auto 0.67em;
}

#uploadFeedbackMsg {
    font-size: 1.1em;
    margin-top: 1.2em;
}

#uploadFeedback progress {
    width: 55%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

#uploadFeedback progress::after {
    content: '';
    width: 49%;
    height: 4.8px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: progress 1.6s linear infinite;
}
  
@keyframes progress {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

#cancelUpload {
    margin-top: 0.6em;
    padding: 0.5em 1.7em;
    background-color: #111;
    color: white;
}

#cancelUpload:active {
    background-color: #272218;
}

@media screen and (min-width: 450px) {
    .date {
        font-size: 1em;
    }
}

@media screen and (min-width: 550px) {
    #gallery li {
        height: 25vw;
    }
}

@media screen and (min-width: 900px) {
    #gallery li {
        height: 200px;
    }
}
